@media(max-width: 768px){
    .heading{
        font-size: 6rem;
    }
    .heading span{
        font-size: 2.3rem;
    }
    #menu-btn{
        display: initial;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
 
    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );
    }

    .header .navbar a{
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }
    .shopping-cart{
        position: absolute;
        top: 9rem;
        left: calc(45% - 15px);
    }
    .home{
        text-align: center;
    }
    .home .row .content h3{
        font-size: 4rem;
    }
    .menu .box-container .box{
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
    }
    .menu .box-container .box img{
        margin-left: 0;
        margin-top: -6rem;
    }
    .logo{
        font-size: 1rem;
    }
    .btn{
        font-size: 1.3rem;
    }
    
}

@media(max-width: 550px){
    .logo{
        font-size: 1rem;
    }
    .btn{
        font-size: 1.3rem;
    }
    .car{
        margin-right: 50px;
    }
}
@media(max-width: 450px){
    html{
        font-size: 50%;
    }
    .shopping-cart{
        position: absolute;
        top: 9rem;
        left: calc(35% - 4px);
    }
    .home .row .image img{
        height: 35rem;
        /* width: 100%; */
    }
    .footer .box-container{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        gap: 1.5rem;
    }
    .footer .credit{
        font-size: 1.5rem;
    }

    .logo{
        display: none;
    }
    .btn{
        font-size: 1.3rem;
    }
    
}

@media(max-width: 400px){
    .shopping-cart{
        position: absolute;
        top: 9rem;
        left: calc(60% - 100px);
    }
    .logo{
        display: none;
    }
    .btn{
        font-size: 1.3rem;
    }
 
}

@media(max-width: 350px){
    .shopping-cart{
        position: absolute;
        top: 9rem;
        left: calc(55% - 100px);
    }
    .logo{
        display: none;
    }
    .btn{
        font-size: 1.1rem;
    }
}